[Unit]
Description=SELinux Lockdown
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/setsebool -P deny_ptrace on
ExecStart=/usr/sbin/setsebool -P secure_mode on

[Install]
WantedBy=multi-user.target
