[Unit]
Description=OnlyOffice Document Server

[Container]
ContainerName=onlyoffice
Image={{ container_images.onlyoffice }}
Pull=newer
Network=opencloud.network
NetworkAlias=onlyoffice
DNS=10.6.13.1
PublishPort=18081:80
ShmSize=1g
Environment=TZ=America/New_York
Environment=WOPI_ENABLED=true
Environment=JWT_ENABLED=true
Environment=JWT_HEADER=AuthorizationJwt
Environment=JWT_IN_BODY=true
Environment=ALLOW_PRIVATE_IP_ADDRESS=true
Environment=USE_UNAUTHORIZED_STORAGE=false
Secret=onlyoffice_jwt_secret,type=env,target=JWT_SECRET
Volume=onlyoffice-data.volume:/var/www/onlyoffice/Data
Volume=onlyoffice-lib.volume:/var/lib/onlyoffice
Volume=onlyoffice-postgres.volume:/var/lib/postgresql
Volume=onlyoffice-rabbitmq.volume:/var/lib/rabbitmq
HealthCmd=curl --fail http://localhost/healthcheck || exit 1
HealthInterval=30s
HealthRetries=5
HealthStartPeriod=120s
HealthTimeout=10s

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
